body{
    margin: 0px;
}

header{
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#logo{
    width: 40px;
    margin: 10px;
}

#titulo{
    padding-top: 20px;
}

#skill-positon{
    display: flex;
}