/*-----------------------Class(box)------------------*/

.box{
    background-color: rgb(34, 34, 34);
    display: inline-block;
    text-align: center;
    padding: 30px 48px;
    border-radius: 6px;
    box-shadow: 7px 6px white;
    text-shadow: 3px 3px #000;
}