/*-----------------------Class(container)------------------*/

.container{
    height: 700px;
    border-bottom: 10px solid #7c5E99;
    background-color: #c02424;
}   

.container h1{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 15px;
}

.container.-projetos{
    height: 500px;
    background-color: #000000;
    border-color: #c02424;
}