/*-----------------------Class(container)------------------*/

.container{
    height: 1000px;
    border-bottom: 10px solid #000;
}   

.container h1{
    font-size: 60px;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}