/*-----------------------Class(container)------------------*/

.container{
    height: 700px;
    border-bottom: 10px solid #000;
    background-color: #c02424;
}   

.container h1{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0px;
}